<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWG1bPN-9eUFiCzzxomaaTndPNsR8o-jc</string>
	<key>GCM_SENDER_ID</key>
	<string>247855717369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>reverse-disease-cf7c5</string>
	<key>STORAGE_BUCKET</key>
	<string>reverse-disease-cf7c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247855717369:ios:2ae3a5909867b57ddfbb28</string>
</dict>
</plist>